
/* !!Issues to Fix !!

- image should take up all of container (hover beside image text still shows up
- LOOKS LIKE SHIT ON MOBILE 
	- bootstrap for resizing window
	- 
*/
@media only screen and (max-width: 1000px){
.container { 
  flex-wrap: wrap;
}

}

h1 {
	background-color: lightblue;	
	font-family: fantasy;
	border: 2px solid #66BADF;
	border-radius: 15px;
        text-align: center;

}



h2 {
	background-color: lightblue;	
	font-family: fantasy;
	border: 2px solid #66BADF;
	border-radius: 10px;
        text-align: center; 
}

table {
  font-family:fantasy; 
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  white-space:pre-wrap;
  word-wrap:break-word;
}

p {

  font-family: fantasy;
}

.green{
  color: #5BE83D;
}

.yellow{
  color: #E4C400;

}

.container {
	display: flex;
	flex-direction: row;
	font-family: fantasy;
	font-size: 15px;
	grid-gap: 20px;
	grid-template: columns;
	grid-template-rows: 1fr;\
        overflow: scroll;
}

.container .phet{
/* resize: both;
 overflow: auto;
 position: relative;

}*/

."btn btn-default" {
	position: fixed;
	bottom:0;
	right: 0;

}

.navigation a {
	text-decoration: none;
}
 #submit  { 
	background-color: #A0C8D9;	

}

textarea {
	resize: none;
}





