
/* !!Issues to Fix !!

- image should take up all of container (hover beside image text still shows up
- LOOKS LIKE SHIT ON MOBILE 
	- bootstrap for resizing window
	- 
*/

h1 {
	background-color: lightblue;	
	font-family: fantasy;
	border: 2px solid #66BADF;
	text-align: center;

}



h2 {
	background-color: lightblue;	
	font-family: fantasy;
	border: 2px solid #66BADF;
	text-align: center; 
}

.container {
	display: flex;

	flex-direction: row;
	font-family: fantasy;
	font-size: 15px;
	grid-gap: 20px;
	grid-template: columns;
	grid-template-rows: 1fr;
}

."btn btn-default" {
	position: fixed;
	bottom:0;
	right: 0;

}

.navigation a {
	text-decoration: none;
}
 #submit  { 
	background-color: #A0C8D9;	

}

textarea {
	resize: none;
}





