
/* !!Issues to Fix !!

- image should take up all of container (hover beside image text still shows up
- LOOKS LIKE SHIT ON MOBILE 
	- bootstrap for resizing window
	- 
*/

h1 {
	background-color: lightblue;	
	font-family: fantasy;
	border: 2px solid #66BADF;
	text-align: center;

}

h2 {
	background-color: lightblue;	
	font-family: fantasy;
	border: 2px solid #66BADF;
	text-align: center; 
}

.container {
	display: flex;
	justify-content: space-around;
	font-family: fantasy;
	font-size: 15px;
	grid-gap: 20px;
	grid-template: columns;
	grid-template-rows: 1fr;
}

.info 

}




